includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 8
    paths:
        - App
        - Config
        - Routes
        - bin
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors: []
    excludePaths:
        analyse:
            - vendor
            - output
            - Tests
