includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
  level: max
  paths:
    - App
    - Config
    - Routes
    - Database
  excludePaths:
    - vendor
    - Storage
  checkMissingIterableValueType: true
  checkGenericClassInNonGenericObjectType: true
  reportUnmatchedIgnoredErrors: true
  treatPhpDocTypesAsCertain: false
